<form class="form-style-9">
    <ul>
        <li>
            <input [(ngModel)]="name" type="text" name="field3" class="field-style field-full align-none" placeholder="Task Name" required/> 
        </li>
        <li>
            <textarea [(ngModel)]="details" name="field5" class="field-style" placeholder="Task Details" required></textarea>
        </li>
    <li>
        <select [(ngModel)]="priority" class= "field-style field-split align-left" name="cars" placeholder="Assign to" required>
            <option value="" disabled selected>Priority</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select>
        
        <input [(ngModel)]="date" type="date"  name="trip-start"  id="start" class="field-style field-split align-right" required>
    </li>
    <li>
        <select [(ngModel)]="assignto" class="field-style field-full align-none" name="cars" placeholder="Assign to" required>
            <option value="" disabled selected>Assign To</option>
            <option value="Deepak">Deepak</option>
            <option value="Krish">Krish</option>
            <option value="Farhana">Farhana</option>
            <option value="Sreesha">Sreesha</option>
        </select>
    </li>  
    
    <li>
    <input (click)="add()" calss="field-style field-full align-none" type="submit" value="Save Task" />

    </li>
    </ul>
    </form>